.chat {
    flex: 2;
    border-left: 1px solid #dddddd35;
    border-right: 1px solid #dddddd35;
    height: 100%;

    .top {
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #dddddd35;

        .user {
            display: flex;
            align-items: center;
            gap: 15px;

            img {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                object-fit: cover;
            }

            .user-info {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }

            .userName {
                font-size: 18px;
                font-weight: bold;
                margin: 0;
            }

            .userTitle {
                font-size: 14px;
                color: rgb(161, 161, 161);
                margin-top: 2px;
            }

            .userStatus {
                font-size: 13px;
                color: rgb(224, 224, 224);
                margin-top: 2px;
            }
        }

        .icons {
            display: flex;
            gap: 20px;

            img {
                width: 25px;
                height: 25px;
                cursor: pointer;
            }
        }
    }

    .center {}

    .bottom {
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid #dddddd35;
        gap: 20px;

        .icons {
            display: flex;
            gap: 20px;

            img {
                width: 20px;
                height: 20px;
                cursor: pointer;
            }
        }

        input {
            flex: 1;
            background-color: rgba(17, 25, 40, 0.5);
            border: none;
            outline: none;
            color: #ffffff;
            padding: 20px;
            border-radius: 10px;
            font-size: 16px;
        }

        .sendButton {
            background-color: #5183fe;
            color: #ffffff;
            padding: 10px;
        }
    }

}
